
        

   
    

  <div class="main-div">
    <h2>Por favor eliga un ticket </h2>

    <div class="example-button-row">

        <button class="my-class" (click)="generar()" mat-raised-button color="accent">Generar</button>
        <button  mat-raised-button color="accent"></button>
        <button class="my-class2" mat-raised-button >{{ticket}}</button>
    </div>

    
<br>
   <h1 class="font1">
    Crud de vehiculos
  </h1>

<div class="example-button-row">
    <button mat-raised-button (click)="crear()" color="primary">Insertar Vehiculo </button>
    <button mat-raised-button color="accent">Editar Vehiculo</button>
    <button mat-raised-button color="warn">Borrar vehiculo</button>
</div>

</div>