.main-div{
    // height: 100vh;
    // display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
  }

  .my-class2{
    background-color:white;
    color:blue;
    width:73px;

}
.font1{
    font-size:27px
  }

.conta{
    padding: 1%;
width: 52%;

}
.conta2{
     padding-bottom: 3%;
width: 52%;
padding-left:33% ;

}
.my-class{
  
    padding-left: 12%;
    padding-top: 2%;

}
