.main-div{
    // height: 100vh;
    // display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
  }

  .my-class2{
    background-color:white;
    color:blue;
    width:73px;

}

.my-class{
  
    padding-left: 12%;
    padding-top: 2%;

}

